body {
  background-color: #f1f1f1;
  color: black;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  min-width: 300px;
  background-color: bisque;
}

.imgBox {
  color: white;
  width: 35px;
  height: 35px;
  cursor: pointer;
  float: right;
}

img {
  width: 100%;
  height: 100%;
}

button {
  border: 1px solid black;
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 15px;
  cursor: pointer;
}

button:hover {
  transition: 1s;
  background-color: black;
  color: white;
}

.list {
  border: 1px solid white;
  border-radius: 20px;
  padding: 20px;
  max-height: 400px;
  overflow-y: auto;
  margin-top: 5px;
}

.dadoLi {
  border: 1px solid black;
  background-color: bisque;
  border-radius: 15px;
  width: 250px;
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin-bottom: 10px;
}

.floatR {
  float: right;
  width: auto;
  height: 35px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.inputDado {
  width: 100px;
  padding: 3px;
}

.inputMain {
  width: 100%;
  padding: 3px;
}

.botoes {
  float: right;
  margin-left: 10px;
}
